@import "seattletimes";

header {
  padding: 0 0 48px;
  max-width: 1200px;
  margin: auto;
  position: relative;

  img {
    width: 100%;
    display: block;
  }

  h1 {
    margin: 0;
    position: absolute;
    padding: 40px 0;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, black, transparent);
    text-align: center;
    color: white;
    font-size: 48px;
  }

  .credit {
    text-align: right;
    font-style: italic;
    text-transform: uppercase;
    font-family: @df-sans;
    font-size: 15px;
    padding: 0 16px;
  }

  p.constrained {
    padding: 16px;
  }
}

.constrained {
  max-width: 960px;
  padding: 0 16px;
  margin: auto;

  &.smaller {
    max-width: 600px;
  }
}

.tab-select {
  text-align: center;
  font-family: @df-sans;

  a {
    cursor: pointer;
  }

  .current {
    font-weight: bold;
  }
}

.tab {
  display: none;

  &.selected {
    display: block;
  }
}

.filters {
  font-family: @df-sans;
  text-align: center;

  h2 {
    font-size: 15px;
    border-bottom: 1px solid @df-light-gray;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
    }
  }

  input {
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    width: 0px;
    display: block;
    position: absolute;

    & + label {
      padding: 4px 8px;
      margin: 4px;
      display: inline-block;
      border: 1px solid @df-light-gray;
      border-radius: 4px;
      font-size: 15px;
      color: @df-middle-gray;

      &:hover, &:focus {
        border: 1px solid @df-dark-gray;
      }
    }

    &:checked + label {
      background: @st-light-blue;
      color: inherit;
    }
  }
}

.event-listings {
  font-family: @df-sans;
  font-size: 17px;
  border-collapse: collapse;
  vertical-align: top;

  tr {
    padding: 8px 0;
  }

  td, th {
    text-align: left;
    padding: 8px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}
