@import "seattletimes";

header {
  padding: 0 0 48px;
  max-width: 1200px;
  margin: auto;
  position: relative;

  img {
    width: 100%;
    display: block;
  }

  h1 {
    margin: 0;
    position: absolute;
    padding: 40px 0;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, black, transparent);
    text-align: center;
    color: white;
    font-size: 48px;
  }

  .credit {
    text-align: right;
    font-style: italic;
    text-transform: uppercase;
    font-family: @df-sans;
    font-size: 15px;
    padding: 0 16px;
  }

  p.constrained {
    padding: 16px;
  }
}

.constrained {
  max-width: 960px;
  padding: 0 16px;
  margin: auto;

  &.smaller {
    max-width: 600px;
  }
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  padding-bottom: 8px;
  box-shadow: 0 16px 32px -24px;
}

.tab-select {
  text-align: center;
  font-family: @df-sans;

  a {
    cursor: pointer;
  }

  .current {
    font-weight: bold;
  }
}

.filters {
  .display-flex();
  .justify-content(space-between);
  font-family: @df-sans;
  text-align: center;

  @media @mobile {
    display: block;
    position: static;
  }

  .filter-group {
    .flex(0 0 30%);
    padding: 0 8px;

    &.categories {
      .flex(0 0 40%);
    }

    &.itinerary {
      .flex(0 0 60%);

      .controls {
        .display-flex();
        .justify-content(space-between);
        padding-bottom: 16px;

        @media @mobile {
          display: block;
        }

        div {
          padding: 8px;
        }
      }
    }
  }

  h2 {
    font-size: 15px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
    }
  }

  input[type="checkbox"] {
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    width: 0px;
    display: block;
    position: absolute;

    & + label {
      padding: 4px 8px;
      margin: 4px;
      display: inline-block;
      border: 1px solid @df-light-gray;
      border-radius: 4px;
      font-size: 15px;
      color: @df-middle-gray;

      &:hover, &:focus {
        border: 1px solid @df-dark-gray;
      }
    }

    &:checked + label {
      background: @st-light-blue;
      color: inherit;
    }

    &:checked#hide-past + label {
      background: @st-light-purple;
    }
  }


  [data-mode="listings"] & {
    .itinerary, .go { display: none }
  }

  [data-mode="planning"] & {
    .months, .search { display: none }
  }
}

@card-spacing: 16px;
.event-listings, .itinerary-results {
  .display-flex();
  .justify-content(space-between);
  .flex-wrap(wrap);
  padding: 16px 0;
  font-family: @df-sans;
  font-size: 17px;

  @media @mobile {
    display: block;
  }

  div.item {
    .flex(0 0 33.3333%);
    padding: @card-spacing;

    @media @tablet {
      .flex(0 0 50%);
    }
  }

  .card {
    height: 100%;
    padding: @card-spacing;
    box-shadow:
      0 16px 16px -8px fade(black, 20%),
      0 8px 32px 0 fade(black, 6%);
    .display-flex();
    .flex-direction(column);
  }

  h4 {
    margin: 0;
    font-size: 24px;
  }

  h5 {
    margin: 0;
  }

  .metadata {
    border-bottom: 1px solid @df-light-gray;
    padding: 8px 0;
  }

  .description {
    .flex(1 1 0%);
    padding: 16px 0;
  }

  .details {
    margin-top: 8px;
    font-size: 15px;
    font-style: italic;
  }

  .contact {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}

[data-planned="no"] {
  .itinerary-results { display: none; }
}

[data-planned="yes"] {
  .event-listings { display: none }
}
