@import "seattletimes";

header {
  padding: 0 0 48px;
  max-width: 1200px;
  margin: auto;
  position: relative;

  img {
    width: 100%;
    display: block;
  }

  h1 {
    margin: 0;
    position: absolute;
    padding: 20px 0 40px 0;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, #39621d, transparent);
    text-align: center;
    color: #3dfbbe;
    font-size: 78px;
    font-family: Lobster, @df-serif;
    font-weight: normal;
    text-shadow: 4px 4px 4px fade(black, 40%);

    .smaller {
      font-size: 50%;
    }

    @media @mobile {
      color: black;
      position: static;
      display: block;
      background: transparent;
      font-size: 48px;
    }
  }

  .credit {
    text-align: right;
    font-style: italic;
    text-transform: uppercase;
    font-family: @df-sans;
    font-size: 15px;
    padding: 0 16px;
  }

  p.constrained {
    padding: 16px;
  }
}

.constrained {
  max-width: 960px;
  padding: 0 16px;
  margin: 0 auto;

  &.smaller {
    max-width: 600px;
  }
}

main.app {
  .display-flex();

  @media @mobile {
    display: block;
  }
}

.filters {
  font-family: @df-sans;
  .flex(0 0 240px);

  .filter-group {
    .flex(0 0 30%);
    padding: 0 8px;

    &.categories {
      .flex(0 0 40%);
    }

    &.itinerary {
      .flex(0 0 60%);

      .controls {
        .display-flex();
        .justify-content(space-between);

        @media @mobile {
          display: block;
        }

        div {
          padding: 8px;
        }
      }
    }
  }

  h2 {
    font-size: 15px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  hr {
    border-color: @df-light-gray;
  }

  @label-margin: 4px;
  input.pseudo {
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    width: 0px;
    display: block;
    position: absolute;

    & + label {
      display: block;
      font-size: 15px;
      color: @df-middle-gray;
      margin: 4px 0;
      padding: 2px 0;

      &::before {
        display: inline-block;
        width: 1em;
        content: "";
        font-weight: normal;
      }

      &:hover, &:focus {
        background: @df-light-gray;
      }
    }

    &:checked + label {
      color: black;

      color: inherit;
      &::before {
        content: "✔";
      }
    }

    &:checked#hide-past + label {
      background: @st-light-purple;
    }
  }

  #custom-date {
    & + label {
      overflow: hidden;
      input { display: none }
    }

    &:checked + label {
      input {
        display: block;
        width: 75%;
        float: right;
      }
    }
  }

  .search input {
    margin: @label-margin;
    width: 80%;
    border: 1px solid @df-light-gray;
    padding: @label-margin 2 * @label-margin;
    font-size: 15px;
    font-family: inherit;
    line-height: inherit;
  }

  .go {
    button {
      display: block;
      width: 100%;
    }
  }
}

@card-spacing: 16px;
.event-listings, .itinerary-results {
  .flex(1 0 0);
  .display-flex();
  .justify-content(space-between);
  .flex-wrap(wrap);
  padding: 16px 0;
  font-family: @df-sans;
  font-size: 17px;

  @media @mobile {
    display: block;
  }

  div.item {
    .flex(1 0 50%);
    padding: @card-spacing;

    @media @tablet {
      .flex(0 0 100%);
    }
  }

  .card {
    height: 100%;
    padding: @card-spacing;
    box-shadow:
      0 16px 16px -8px fade(black, 20%),
      0 8px 32px 0 fade(black, 6%);
    .display-flex();
    .flex-direction(column);
  }

  h4 {
    margin: 0;
    font-size: 24px;
  }

  h5 {
    margin: 0;
  }

  .metadata {
    border-bottom: 1px solid @df-light-gray;
    padding: 8px 0;
  }

  .description {
    .flex(1 1 0%);
    padding: 16px 0;
  }

  .details {
    margin-top: 8px;
    font-size: 15px;
    font-style: italic;
  }

  .contact {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}

[data-planned="no"] {
  .itinerary-results { display: none; }
}

[data-planned="yes"] {
  .event-listings { display: none }
}
