<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  </head>
  <body data-mode="listings" data-planned="no">
    <%= t.include("partials/_nav.html") %>

    <%= t.include("partials/_ad.html", { type: "banner" }) %>
    <header class="top">
      <div class="image-container">
        <img src="./assets/headers/splash.jpg" alt="Child getting splashed by water">
        <div class="credit">Ellen M. Banner / The Seattle Times</div>
        <h1><div class="smaller">Build your own</div>Seattle summer</h1>
      </div>
      <p class="constrained smaller">
        Seattle summers are special. We say that because it’s true. Make this one count with our essential guide to all things summer 2018 — from concerts to kayaking to the Fourth of July. And remember, just as your plans change often, so do everyone else’s. Check details closer to the event, just in case.
    </header>

    <main class="app">
      <nav class="filters">
        <div class="filter-group search">
          <h2 class="nav-header">Search for events</h2>
          <input type="text" placeholder="Name, keywords, location …" data-string="query">
        </div>
        <hr>
        <div class="filter-group categories">
          <h2 class="nav-header">1. What do you want to do?</h2>
          <ul class="categories">
            <% json.categories.forEach(function(item) { %>
            <li>
              <input class="category pseudo" type="checkbox" value="<%= item.short %>" id="<%= item.short %>" checked="checked" data-aggregate="categories">
              <label for="<%= item.short %>"><%= item.long %></label>
            <% }); %>
          </ul>
        </div>
        <div class="filter-group months">
          <h2 class="nav-header">2. When?</h2>
          <ul class="months">
            <% [
              { short: "5", long: "May" },
              { short: "6", long: "June" },
              { short: "7", long: "July" },
              { short: "8", long: "August" },
              { short: "9", long: "September" }
            ].forEach(function(item) { %>
            <li>
              <input class="month pseudo" type="checkbox" value="<%= item.short %>" id="<%= item.short %>" checked="checked" data-aggregate="months">
              <label for="<%= item.short %>"><%= item.long %></label>
            <% }); %>
            <li class="always-block">
              <input class="date pseudo" type="checkbox" value="custom" id="custom-date">
              <label for="custom-date">
                Custom date
                <input type="date" name="date" min="2018-05-01" max="2018-09-30" placeholder="YYYY-MM-DD" data-string="day">
              </label>
          </ul>
          <input type="checkbox" id="hide-past" data-flag="hidePast">
          <label for="hide-past">Hide past events</label>
        </div>
        <div class="filter-group quadrant">
          <h2 class="nav-header">3. Where?</h2>
          <ul class="quadrants">
            <% [
              { short: "central", long: "Central" },
              { short: "north", long: "North" },
              { short: "south", long: "South" },
              { short: "east", long: "East" },
              { short: "west", long: "West" }
            ].forEach(function(item) { %>
            <li>
              <input class="quadrant pseudo" type="checkbox" value="<%= item.short %>" id="<%= item.short %>" checked="checked" data-aggregate="quadrants">
              <label for="<%= item.short %>"><%= item.long %></label>
            <% }) %>
          </ul>
        </div>
        <div class="filter-group go">
          <h2 class="nav-header">4. Get results</h2>
          <input type="checkbox" id="live-results" data-flag="showAll">
          <label for="live-results">Show all results</label>
          <button class="pick-items">Pick 3</button>
        </div>
      </nav>
    </section>
      <div class="event-listings">
        <% var instructions = '<p class="constrained smaller">Search for events, or use the filters to find them.'; %>
        <%= instructions %>
      </div>
      <div class="itinerary-results"></div>
    </main>

    <script>
window.eventData = <%= JSON.stringify(json.events) %>;
window.recsData = <%= JSON.stringify(json.recs) %>;
window.instructions = <%= JSON.stringify(instructions) %>;
    </script>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
