<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <%= t.include("partials/_nav.html") %>

    <%= t.include("partials/_ad.html", { type: "banner" }) %>

    <header class="top">
      <div class="image-container">
        <img src="./assets/headers/splash.jpg" alt="Child getting splashed by water">
        <h1>Summer Guide 2018</h1>
      </div>
      <div class="credit">Ellen M. Banner / The Seattle Times</div>

      <p class="constrained smaller">
        Planning out your summer? Use this interactive guide to find activities around Seattle, May through August 2017, from festivals to pool time to Fourth of July activities.
    </header>

    <main class="constrained">

      <nav class="tab-select">
        <a data-tab="listing" class="current">Show all listings</a> |
        <a data-tab="itinerary">Plan your day!</a>
      </nav>

      <div class="listing tab selected">
          <nav class="filters">
          <h2 class="nav-header">Choose categories</h2>

          <ul class="categories">
            <% json.categories.forEach(function(item) { %>
            <li>
              <input class="category" type="checkbox" value="<%= item.short %>" id="<%= item.short %>" checked="checked">
              <label for="<%= item.short %>"><%= item.long %></label>
            <% }); %>
          </ul>

          <h2 class="nav-header">Choose a month</h2>

          <ul class="months">
            <% [
              { short: "5", long: "May" },
              { short: "6", long: "June" },
              { short: "7", long: "July" },
              { short: "8", long: "August" },
              { short: "9", long: "September" }
            ].forEach(function(item) { %>
            <li>
              <input class="month" type="checkbox" value="<%= item.short %>" id="<%= item.short %>" checked="checked">
              <label for="<%= item.short %>"><%= item.long %></label>
            <% }); %>
          </ul>
        </nav>

        <div class="event-listings"></div>
    </div>

    <div class="itinerary tab">
      <div class="controls">
        <input type="date" name="date" placeholder="YYYY-MM-DD">
        <select name="quadrant">
          <option value="north">North</option>
          <option value="south">South</option>
          <option value="east">East</option>
          <option value="west">West</option>
        </select>
        <div class="filters">
          <h2 class="nav-header">I would like to …</h2>
          <ul>
            <% Object.keys(json.meta).forEach(function(metaName) { %>
            <li>
              <input class="metacategory" type="checkbox" value="<%= metaName %>" id="metacat-<%= metaName %>">
              <label for="metacat-<%= metaName %>">… <%= json.meta[metaName].message %></label>
            <% }); %>
          </ul>
          <button class="generate-itinerary">Go</button>
        </div>
      </div>

      <div class="itinerary-results">
        <ul></ul>
      </div>
    </div>

    <script>
window.eventData = <%= JSON.stringify(json.events) %>;
window.recsData = <%= JSON.stringify(json.recs) %>;
<% var metacats = json.meta; // Add array of cats to metacat lookup object
  Object.keys(metacats).forEach((name) => {
    metacats[name].cats = [];
  })
  json.categories.forEach((row) => {
    metacats[row.meta].cats.push(row.short);
  })
%>
window.metacats = <%= JSON.stringify(metacats) %>;
    </script>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
