<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  </head>
  <body data-mode="listings" data-planned="no">
    <%= t.include("partials/_nav.html") %>

    <%= t.include("partials/_ad.html", { type: "banner" }) %>
    <header class="top">
      <div class="image-container">
        <img src="./assets/headers/splash.jpg" alt="Child getting splashed by water">
        <div class="credit">Ellen M. Banner / The Seattle Times</div>
        <h1><div class="smaller">Build your own</div>Seattle summer</h1>
      </div>

      <p class="constrained smaller">
        Seattle summers are special. We say that because it’s true. Make this one count with our essential guide to all things summer 2018 — from concerts to kayaking to the Fourth of July. And remember, just as your plans change often, so do everyone else’s. Check details closer to the event, just in case.
    </header>

    <main>
      <section class="sticky">
      <nav class="tab-select">
        <a data-tab="listings" class="current">Show all listings</a> |
        <a data-tab="planning">Plan your day!</a>
      </nav>

      <nav class="filters">
        <div class="filter-group categories">
          <h2 class="nav-header">Choose categories</h2>
          <ul class="categories">
            <% json.categories.forEach(function(item) { %>
            <li>
              <input class="category" type="checkbox" value="<%= item.short %>" id="<%= item.short %>" checked="checked">
              <label for="<%= item.short %>"><%= item.long %></label>
            <% }); %>
          </ul>
        </div>
        <div class="filter-group months">
          <h2 class="nav-header">Choose a month</h2>
          <ul class="months">
            <% [
              { short: "5", long: "May" },
              { short: "6", long: "June" },
              { short: "7", long: "July" },
              { short: "8", long: "August" },
              { short: "9", long: "September" }
            ].forEach(function(item) { %>
            <li>
              <input class="month" type="checkbox" value="<%= item.short %>" id="<%= item.short %>" checked="checked">
              <label for="<%= item.short %>"><%= item.long %></label>
            <% }); %>
          </ul>
          <input type="checkbox" id="hide-past">
          <label for="hide-past">Hide events that have past</label>
        </div>
        <div class="filter-group search">
          <h2 class="nav-header">Search for events</h2>
          <input type="text" placeholder="Name, keywords, location …">
        </div>
        <div class="filter-group itinerary">
          <div class="controls">
            <div>
              <h2 class="nav-header">What day are you planning for?</h2>
              <input type="date" name="date" placeholder="YYYY-MM-DD">
            </div>
            <div>
              <h2 class="nav-header">Where in Seattle will you be?</h2>
              <select name="quadrant">
                <option value="central">Central</option>
                <option value="north">North</option>
                <option value="south">South</option>
                <option value="east">East</option>
                <option value="west">West</option>
              </select>
            </div>
          </div>
          <button class="generate-itinerary">Go</button>
        </div>
      </nav>
    </section>
      <div class="event-listings"></div>
      <div class="itinerary-results"></div>
    </main>

    <script>
window.eventData = <%= JSON.stringify(json.events) %>;
window.recsData = <%= JSON.stringify(json.recs) %>;
    </script>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
